<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>captcha测试</title>
	<link rel="stylesheet" type="text/css" href="css/default.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/css/materialize.min.css">
	<style type="text/css">
	html,
	body {
	    height: 100%;
	}
	html {
	    display: table;
	    margin: auto;
	}
	body {
	    display: table-cell;
	    vertical-align: middle;
	}

	.margin {
	  margin: 0 !important;
	}
	</style>
	<script type="text/javascript">
    function imgPreview(fileDom){
        //判断是否支持FileReader
        if (window.FileReader) {
            var reader = new FileReader();
        } else {
            alert("您的设备不支持图片预览功能，如需该功能请升级您的设备！");
        }

        //获取文件
        var file = fileDom.files[0];
        var imageType = /^image\//;
        //是否是图片
        if (!imageType.test(file.type)) {
            alert("请选择图片！");
            return;
        }
        //读取完成
        reader.onload = function(e) {
            //获取图片dom
            var img = document.getElementById("preview");
            //图片路径设置为读取的图片
            img.src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
	</script>
	<script src="./js/jquery-3.1.1.js "></script>
	<script type="text/javascript">

		$(document).ready(function(){               //元素加载完成之后，绑定事件
			$("button").click(function(){       //给按钮的点击效果，绑定一个事件
				var id=document.getElementById('name').value //获取输入框的值
				$.ajax({                    //调用ajax
				url:" url "index" ",  //发出请求的地址
				data:{name:file},
				success:function(result){$("#ask").html(result);}
						// 服务器成功响应后，绑定的事件
				});
			});
		});

 </script>
</head>
<body class="red">
	<div id="login-page" class="row">
	    <div class="col s12 z-depth-6 card-panel">
	      <form class="login-form" action="/index/" method="post" enctype="multipart/form-data">
	        <div class="row">
	          <div class="input-field col s12 center">
	            <img id="preview"/>

	          </div>
	        </div>
	        <div class="row margin" >
	          <div class="input-field col s12">
	            <input type="file" name="file" id="file" class="validate" onchange="imgPreview(this)" />


	          </div>
	        </div>
	        <div >
				<p>
				<p>
				&nbsp <h5>识别结果:
				{% for item in data%}
					{{ item }}
				{% endfor %}
			    </h5>



	        </div>

	        <div class="row">
	          <div class="input-field col s12">

					<button class="btn waves-effect waves-light col s12">识别</button>
	          </div>
	        </div>


	      </form>
	    </div>
	  </div>


	<script src="js/jquery-2.1.1.min.js"></script>
  	<!--materialize js-->
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.1/js/materialize.min.js"></script>
</body>
</html>